{% extends 'layout.html' %}
{% block body %}
	<h1>{{disciplina.title}}</h1>
	<small> Mamao: {{disciplina.mamao}} | Penoso: {{disciplina.penoso}}</small>
	<hr>
	<div>
	Descrição disciplina:	{{disciplina.body | safe}}
	</div>
	<td><a href="/disciplina/{{disciplina.id}}/voto_mamao" class="btn btn-success pull-right" type="submit"  value="Submit">Mamao</a></td>
	<td><a href="/disciplina/{{disciplina.id}}/voto_penoso" class="btn btn-danger pull-right" type="submit"  value="Submit">Penoso</a></td>

{% endblock %}
